name: tetsing the github Context
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: printing the github conetxt
        run: echo '${{ toJson(github)}}'
      
  prod-check:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying to production server on branch $GITHUB_REF"
     
